absl-py==0.2.0
appnope==0.1.0
astor==0.6.2
bleach==1.5.0
certifi==2017.11.5
chardet==3.0.4
control==0.7.0
CVXcanon==0.1.1
cvxpy==1.0.10
cycler==0.10.0
Cython==0.28.5
decorator==4.1.2
dill==0.2.7.1
ecos==2.0.4
entrypoints==0.2.3
fastcache==1.0.2
future==0.16.0
gast==0.2.0
grpcio==1.11.0
hmmlearn==0.2.0
html5lib==0.9999999
idna==2.6
ipykernel==4.7.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.0
jedi==0.11.1
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.1
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.4
Markdown==2.6.11
MarkupSafe==1.0
matplotlib==2.1.0
mistune==0.8.3
mpmath==1.0.0
multiprocess==0.70.5
mypy==0.550
nbconvert==5.3.1
nbformat==4.4.0
notebook==5.7.8
numpy==1.14.3
osqp==0.3.1
pandocfilters==1.4.2
parso==0.1.1
pexpect==4.3.1
pickleshare==0.7.4
prometheus-client==0.6.0
prompt-toolkit==1.0.15
protobuf==3.5.2.post1
psutil==5.4.1
ptyprocess==0.5.2
Pygments==2.2.0
pyparsing==2.2.0
Pyphen==0.9.4
pyre-check==0.0.6
python-dateutil==2.6.1
pytz==2017.2
PyYAML==3.12
pyzmq==18.0.1
qtconsole==4.3.1
requests==2.18.4
rise==5.5.0
scikit-learn==0.19.1
scipy==1.0.0
scs==1.2.7
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
sympy==1.2
tensorboard==1.8.0
tensorflow==1.8.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
toolz==0.8.2
tornado==4.5.2
traitlets==4.3.2
typed-ast==1.1.0
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.1.0
