backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
certifi==2022.12.7
cvxpy @ file:///home/conda/feedstock_root/build_artifacts/cvxpy-split_1614935470104/work
cycler==0.10.0
decorator @ file:///home/ktietz/src/ci/decorator_1611930055503/work
dill @ file:///tmp/build/80754af9/dill_1605066453875/work
ecos @ file:///home/conda/feedstock_root/build_artifacts/ecos_1610611844401/work
ipykernel @ file:///tmp/build/80754af9/ipykernel_1596206598566/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///tmp/build/80754af9/ipython_1614615642284/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
jedi==0.17.0
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-core @ file:///tmp/build/80754af9/jupyter_core_1612213308260/work
kiwisolver @ file:///tmp/build/80754af9/kiwisolver_1612282414123/work
llvmlite==0.36.0
matplotlib @ file:///tmp/build/80754af9/matplotlib-suite_1613407855456/work
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
numba==0.53.0
numba-scipy==0.2.0
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603479632437/work
olefile==0.46
osqp @ file:///home/conda/feedstock_root/build_artifacts/osqp_1610316370505/work
parso @ file:///tmp/build/80754af9/parso_1607623074025/work
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow @ file:///tmp/build/80754af9/pillow_1615057347459/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1616415428029/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
Pygments @ file:///tmp/build/80754af9/pygments_1615143339740/work
pyparsing @ file:///home/linux1/recipes/ci/pyparsing_1610983426697/work
python-dateutil @ file:///home/ktietz/src/ci/python-dateutil_1611928101742/work
pyzmq==20.0.0
qdldl @ file:///home/conda/feedstock_root/build_artifacts/qdldl-python_1609844340356/work
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1614445567925/work
scipy @ file:///tmp/build/80754af9/scipy_1614022789548/work
scs @ file:///home/conda/feedstock_root/build_artifacts/scs_1610433358217/work
six @ file:///tmp/build/80754af9/six_1605205313296/work
tabulate==0.8.9
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
torch==1.8.0
torchaudio==0.8.0a0+a751e1d
torchvision==0.9.0
tornado @ file:///tmp/build/80754af9/tornado_1606942283357/work
traitlets @ file:///home/ktietz/src/ci/traitlets_1611929699868/work
typing-extensions @ file:///home/ktietz/src/ci_mi/typing_extensions_1612808209620/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
